@{
    ViewData["Title"] = "Privacy Policy";
}
<section class="py-5 border-bottom">
    <div class="container px-5 my-5 px-5">
        <div class="text-body mb-5">
            <h2 class="fw-bolder">Privacy Policy</h2>
            <p>
                To make sure this faucet is only used once per user, your IP and Hathor address will be stored on the server.
                <br />
                The website also uses <a href="https://www.google.com/intl/policies/privacy/" target="_blank">Google reCaptha</a> to prevent bots from using the faucet.
            </p>
            <p>
                All code is open source and available on <a href="https://github.com/michielpost/Hathor.Faucet" target="_blank">GitHub <i class="text-body bi bi-github"></i></a>.
            </p>
        </div>
    </div>
</section>
